<header class="header">
  <h1 [routerLink]="['/']" style="cursor: pointer">
    <img
      src="https://biba.hb.ru-msk.vkcs.cloud/logo_taiga.png"
      alt="taiga ui logo"
      width="48 "
    />
    Healthy
  </h1>
  <div class="header__button-box">
    <button tuiButton type="button" class="tui-space_right-2" size="m" [routerLink]="['/signup']" appearance="secondary">Sign Up</button>
    <button tuiButton type="button" class="tui-space_right-2" size="m" [routerLink]="['/login']" appearance="primary">Login</button>
  </div>
</header>
