<header class="header">
  <div class="header__inner container">
    <h2 class="header-logo" routerLink="/" style="cursor: pointer">
      healthy.
    </h2>
    <nav *ngIf="breakpoint$ | async as breakpoint" class="header-menu">
      <ul *ngIf="breakpoint !== 'mobile'" class="header-menu__list">
        <li *ngFor="let item of menuItems" class="header-menu__item">
          <a [routerLink]="item.link" class="header-menu__link">{{ item.name }}</a>
        </li>
      </ul>
    </nav>
    <div *ngIf="breakpoint$ | async as breakpoint" class="header-button-box" style="display: flex">
      <div *ngIf="!user && breakpoint !== 'mobile'" class="buttons">
        <button *ngFor="let auth of authItems" tuiButton type="button" class="header-button-box__button" size="m"
                [routerLink]="auth.link"
                [appearance]="auth.name === 'Регистрация' ? 'secondary' : 'primary'">
          {{ auth.name }}
        </button>
      </div>
      <div *ngIf="user && breakpoint !== 'mobile'" class="buttons">
        <button tuiButton type="button" class="header-button-box__button" size="m" (click)="logout()">
          Выйти
        </button>
      </div>
    </div>
    <div *ngIf="breakpoint$ | async as breakpoint" class="header-button-box">
      <div *ngIf="breakpoint === 'mobile'" class="header__dropdown">
        <button
          type="button"
          class="sidebar-button"
          (click)="toggle(true)"
          (tuiActiveZoneChange)="toggle($event)"
        >
          <tui-svg src="tuiIconAlignJustifyLarge"></tui-svg>
        </button>
        <div *tuiSidebar="open; direction: 'right'" class="sidebar-content">
          <ul class="sidebar-menu">
            <li *ngFor="let item of menuItems">
              <a [routerLink]="item.link" rel="noreferrer" tuiLink class="link">
                {{ item.name }}
              </a>
            </li>
            <li *ngFor="let auth of authItems">
              <a [routerLink]="auth.link" rel="noreferrer" tuiLink class="link">
                {{ auth.name }}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
