@import '@taiga-ui/core/styles/taiga-ui-local.less';

a {
  text-decoration: none;
  color: var(--tui-link);
  &:hover, &:focus {
    color: var(--tui-link-hover);
    text-decoration: underline;
  }
}

.header {
  align-items: center;
  border-bottom: 1px solid var(--tui-base-04);

  &__inner {
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 40px;
  }

  &-logo {
    color: var(--tui-primary);
  }

  &-menu {
    margin-right: auto;

    &__list {
      display: flex;
      align-items: center;
      column-gap: 20px;


      &__link {
        position: relative;
        display: inline-flex;
        align-items: center;
        color: var(--tui-link);
        &::after {
          content: '';
          position: absolute;
          bottom: -5px;
          left: 0;
          right: 0;
          height: 2px;
          background-color: var(--tui-link-hover);
          transform: scaleX(0);
          transition: transform 0.3s ease;
        }
        &:hover::after, &:focus::after {
          transform: scaleX(1);
        }
      }
    }
  }

  &__button-box {
    display: flex;
    flex-direction: column;

    @media @tui-desktop-min {
      flex-direction: row;
    }
  }
}

.mobile {
  display: none;
}

.desktop-small, .desktop-large {
  display: none;

  @media @tui-tablet-min {
    .desktop-small {
      display: block;
    }
  }

  @media @tui-desktop-min {
    .desktop-large {
      display: block;
    }
  }
}

.sidebar-content {
  padding: 20px;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;

  li a {
    display: block;
    color: #000;
    padding: 10px;
    text-decoration: none;

    &:hover {
      background-color: #f5f5f5;
    }
  }
}

.sidebar-button {
  background: none;
  border: none;
  color: var(--tui-primary);
  cursor: pointer;

  tui-icon {
    fill: var(--tui-primary); // Убедитесь, что это правильное свойство для изменения цвета иконки
  }
}
