<header class="header">
  <div class="header__inner container">
    <h2 class="header-logo" routerLink="/" style="cursor: pointer">
      healthy.
    </h2>
    <nav *ngIf="breakpoint$ | async as breakpoint" class="header-menu">
      <ul *ngIf="breakpoint !== 'mobile'" class="header-menu__list">
        <li *ngFor="let item of menuItems" class="header-menu__item">
          <a [routerLink]="item.link" class="header-menu__link">{{ item.name }}</a>
        </li>
      </ul>
    </nav>
    <div *ngIf="breakpoint$ | async as breakpoint" class="header-button__box" style="display: flex">
      <button *ngIf="breakpoint !=='mobile'" tuiButton type="button" class="tui-space_right-2" size="m"
              [routerLink]="['/signup']"
              appearance="secondary">Регистрация
      </button>
        <button *ngIf="breakpoint !=='mobile'" tuiButton type="button" class="tui-space_right-2" size="m"
                [routerLink]="['/login']" appearance="primary">
          Войти
        </button>
    </div>
    <div *ngIf="breakpoint$ | async as breakpoint" class="header-button__box" style="display: flex">
      <div *ngIf="breakpoint === 'mobile'" class="header__dropdown">
        <button
          tuiButton
          type="button"
          (click)="toggle(true)"
          (tuiActiveZoneChange)="toggle($event)"
        >
          Show sidebar
          <div *tuiSidebar="open; direction: 'right'">
            <tui-accordion [rounded]="false">
              <tui-accordion-item borders="top-bottom">
                Other libraries
                <ng-template tuiAccordionItemContent>
                  <a
                    *ngFor="let link of menuItems"
                    href="https://github.com/taiga-family/{{ link }}"
                    rel="noreferrer"
                    target="_blank"
                    tuiLink
                    class="link"
                  >
                    {{ link }}
                  </a>
                </ng-template>
              </tui-accordion-item>
            </tui-accordion>
          </div>
        </button>
      </div>
    </div>
  </div>
</header>
