@import '@taiga-ui/core/styles/taiga-ui-local.less';

a {
  text-decoration: none;
}

.header {
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--tui-base-04);
}

.header-logo{
  color: var(--tui-primary);
}

.header__inner {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 40px;
}

:host {
  display: block;
}

.header-menu {
  margin-right: auto;
}

.header__menu-list {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.header__menu-link {
  color: var(--tui-link);
  position: relative;
  display: inline-flex;
  align-items: center;
}

.header__menu-link:hover::after {
  color: var(--tui-link-hover);
  width: 100%;
}

.header__menu-link::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  translate: -50%;
  width: 0;
  height: 2px;
  background-color: var(--tui-link-hover);
  transition-duration: .5s;
}


.mobile {
  display: block;
}

.desktop-small {
  display: none;
}

.desktop-large {
  display: none;
}

@media @tui-tablet-min {
  .mobile {
    display: none;
  }

  .desktop-small {
    display: block;
  }

  .desktop-large {
    display: none;
  }
}

@media @tui-desktop-min {
  .mobile {
    display: none;
  }


  .desktop-small {
    display: none;
  }

  .desktop-large {
    display: block;
  }
}
