<ng-container>
  <div class="calendar">
    <app-user-picker-tabs (userChange)="onUserChange($event)"></app-user-picker-tabs>
    <div class="vaccine-helpers" style="display: flex; align-items: center; justify-content: space-between">
      <div class="vaccine__radio-box" style="max-width: fit-content">
        <app-vaccine-type-picker (vaccineTypeChange)="onVaccineTypeChange($event)"></app-vaccine-type-picker>
      </div>
      <div class="vaccine-filter-box">
        <form [formGroup]="form">
          <tui-filter
            formControlName="filters"
            size="m"
            [disabledItemHandler]="disabledItemHandler"
            [items]="items"
          ></tui-filter>
        </form>
      </div>
    </div>
    <div class="wrapper" *ngIf="!isLoading">
      <div *ngFor="let vaccine of filteredVaccines; trackBy: trackByVaccineId" class="vaccine__box tui-space_top-3">
        <app-vaccine-card class="calendar-card" [vaccine]="vaccine"></app-vaccine-card>
      </div>
    </div>
    <div *ngIf="isLoading" class="wrapper">
      <div *ngFor="let _ of skeletonArray" class="vaccine-skeleton tui-space_top-3">
        <div class="skeleton-header tui-skeleton"></div>
        <div class="skeleton-paragraph tui-skeleton"></div>
        <div class="skeleton-badge-box">
          <div class="skeleton-badge tui-skeleton"></div>
          <div class="skeleton-badge tui-skeleton"></div>
        </div>
        <div class="skeleton-button tui-skeleton tui-space_top-8 tui-space_bottom-3"></div>
        <div class="skeleton-button tui-skeleton"></div>
      </div>
    </div>
  </div>
</ng-container>

