<ng-container>
  <div class="calendar">
    <app-user-picker-tabs (userChange)="onUserChange($event)"></app-user-picker-tabs>
    <div class="vaccine-helpers" style="display: flex; align-items: center; justify-content: space-between">
      <div class="vaccine__radio-box" style="max-width: fit-content">
        <app-vaccine-type-picker (vaccineTypeChange)="onVaccineTypeChange($event)"></app-vaccine-type-picker>
      </div>
      <div class="vaccine-filter-box">
        <form [formGroup]="form">
          <tui-filter
            formControlName="filters"
            size="m"
            [disabledItemHandler]="disabledItemHandler"
            [items]="items"
          ></tui-filter>
        </form>
      </div>
    </div>
    <div class="wrapper" *ngIf="!isLoading">
      <div *ngFor="let vaccine of filteredVaccines; trackBy: trackByVaccineId" class="vaccine__box tui-space_top-3">
        <app-vaccine-card [vaccine]="vaccine"></app-vaccine-card>
      </div>
    </div>
    <div *ngIf="isLoading" class="loading">
      Loading...
    </div>
  </div>
</ng-container>
