<div class="container tui-space_top-5">
  <h1 style="text-align: center;color:var(--tui-primary)">Публикации</h1>
  <div class="publication-wrapper">
    <div class="table-navigation">
      <div class="search-form">
        <form [formGroup]="form">
          <tui-input formControlName="search">
            Поиск по публикациям
          </tui-input>
        </form>
      </div>
      <button tuiButton size="l" appearance="primary" (click)="openDialog()">Добавить новую публикацию</button>
    </div>
    <div class="publication-list">
      <table tuiTable class="table tui-space_top-5" [columns]="columns">
        <thead>
        <tr tuiThGroup>
          <th tuiTh>Номер</th>
          <th tuiTh>Краткий заголовок</th>
          <th tuiTh>Дата редактирования</th>
          <th tuiTh>Дата обновления</th>
          <th tuiTh>Изображение</th>
          <th tuiTh>Действия</th>
        </tr>
        </thead>
        <tbody tuiTbody>
        <tr *ngFor="let item of filteredPublications" tuiTr>
          <td *tuiCell="'id'" tuiTd>{{ item.id }}</td>
          <td *tuiCell="'short_title'" tuiTd>{{ item.short_title }}</td>
          <td *tuiCell="'edit_date'" tuiTd>{{ item.edit_date }}</td>
          <td *tuiCell="'update_date'" tuiTd>{{ item.update_date }}</td>
          <td *tuiCell="'image_url'" tuiTd>
            <img *ngIf="item.image_url" [src]="item.image_url" alt="Image" width="100">
          </td>
          <td *tuiCell="'actions'" tuiTd>
            <button tuiButton size="s" appearance="primary" (click)="view(item)">Просмотр</button>
            <button tuiButton size="s" appearance="secondary" (click)="edit(item)">Изменить</button>
            <button tuiButton size="s" appearance="accent" (click)="remove(item)">Удалить</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
