.container {
  padding: 20px;
}

.toggle {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 1rem;
  margin: 1rem 0;
}

.table {
  width: 100%;
}

button[tuiButton] {
  margin-right: 5px;
}
