<div class="center-screen flex justify-around items-center h-screen">
  <div class="login-form">
    <form [formGroup]="form" style="display: flex; flex-direction: column; align-items: center;">
      <tui-stepper [activeItemIndex]="step - 1">
        <button tuiStep (click)="step = 1">First step</button>
        <button tuiStep (click)="step = 2">Second step</button>
      </tui-stepper>
      <tui-island class="login-island">
        <h2>👋 Регистрация в <span style="color: var(--tui-primary);">healthy.</span></h2>
        <p class="tui-island__paragraph">
          Заполните форму, чтобы создать аккаунт.
        </p>
        <div *ngIf="step === 1">
          <div class="tui-form__row">
            <tui-input formControlName="email" placeholder="Введите ваш email"></tui-input>
          </div>
          <div class="tui-form__row">
            <tui-input-password formControlName="password" placeholder="Введите ваш пароль"></tui-input-password>
          </div>
          <div class="tui-form__row">
            <tui-input-password formControlName="passwordConfirm" placeholder="Подтвердите ваш пароль"></tui-input-password>
          </div>
          <div class="tui-island_text-align_right tui-space_top-3">
            <button tuiButton type="button" (click)="nextStep()" appearance="primary" size="m">
              Далее
            </button>
          </div>
        </div>
        <div *ngIf="step === 2">
          <!-- Second Step: Additional Details -->
          <div class="tui-form__row">
            <tui-input formControlName="firstname" placeholder="Введите ваше имя"></tui-input>
          </div>
          <div class="tui-form__row">
            <tui-input formControlName="lastname" placeholder="Введите вашу фамилию"></tui-input>
          </div>
          <div class="tui-form__row">
            <tui-input formControlName="midname" placeholder="Введите ваше отчество (необязательно)"></tui-input>
          </div>
          <div class="tui-form__row">
            <tui-input formControlName="dob" type="date" placeholder="Выберите дату рождения"></tui-input>
          </div>
          <div class="tui-form__row">
            <tui-select formControlName="sex" placeholder="Выберите пол"></tui-select>
          </div>
          <div class="tui-island_text-align_right tui-space_top-3">
            <button tuiButton type="button" (click)="previousStep()" appearance="secondary" size="m">
              Назад
            </button>
            <button tuiButton type="submit" (click)="submit()" appearance="primary" size="m">
              Зарегистрироваться
            </button>
          </div>
        </div>
      </tui-island>
    </form>
  </div>
</div>
