<h1>{{ context.data.id ? 'Редактировать публикацию' : 'Добавить новую публикацию' }}</h1>
<form [formGroup]="form" (ngSubmit)="onSave()" class="b-form" [tuiTextfieldCleaner]="true">
  <tui-input formControlName="short_title" placeholder="Краткий заголовок">Краткий заголовок</tui-input>
  <tui-input formControlName="full_title" placeholder="Полный заголовок">Полный заголовок</tui-input>
  <tui-input formControlName="text" placeholder="Текст">Текст</tui-input>
  <tui-input-files
    *ngIf="!control.value"
    accept="image/*"
    [formControl]="control"
    (reject)="onReject($event)"
  ></tui-input-files>
  <tui-files class="tui-space_top-1">
    <tui-file
      *ngIf="loadedFiles$ | async as file"
      [file]="file"
      [showDelete]="control.enabled"
      (removed)="removeFile()"
    ></tui-file>
    <tui-file
      *ngIf="rejectedFiles$ | async as file"
      state="error"
      [file]="file"
      [showDelete]="control.enabled"
      (removed)="clearRejected()"
    ></tui-file>
    <tui-file
      *ngIf="loadingFiles$ | async as file"
      state="loading"
      [file]="file"
      [showDelete]="control.enabled"
    ></tui-file>
  </tui-files>
  <div class="button-group">
    <button tuiButton type="submit" appearance="primary">Сохранить</button>
    <button tuiButton type="button" appearance="secondary" (click)="onCancel()">Отменить</button>
  </div>
</form>
