<!--<div>-->
<!--  <tui-tabs class="tui-tab" [(activeItemIndex)]="activeItemIndex">-->
<!--    <button-->
<!--      tuiTab-->
<!--      *ngFor="let user of users$ | async; let i = index"-->
<!--      [ngClass]="{'active': activeItemIndex === i}"-->
<!--      (click)="onClick(user, i)"-->
<!--    >-->
<!--      {{ user.isCurrentUser ? 'Вы' : user.firstname }}-->
<!--    </button>-->
<!--  </tui-tabs>-->
<!--  <div *ngIf="loading" class="skeleton-tabs">-->
<!--    <div *ngFor="let _ of skeletonArray" class="skeleton-tab tui-skeleton"></div>-->
<!--  </div>-->
<!--</div>-->

<div>
  <ng-container *ngIf="loading; else content">
    <div class="skeleton-tabs">
      <div *ngFor="let _ of skeletonArray" class="skeleton-tab tui-skeleton"></div>
    </div>
  </ng-container>
  <ng-template #content>
    <tui-tabs class="tui-tab" [(activeItemIndex)]="activeItemIndex">
      <button
        tuiTab
        *ngFor="let user of users; let i = index"
        [ngClass]="{'active': activeItemIndex === i}"
        (click)="onClick(user, i)"
      >
        {{ user.isCurrentUser ? 'Вы' : user.firstname }}
      </button>
    </tui-tabs>
  </ng-template>
</div>
