<div class="center-screen flex justify-around items-center h-screen">
  <div class="login-form">
    <form [formGroup]="form" style="justify-content: center; align-content: center;align-items: center; display: flex">
      <div class="tui-col_5">
        <tui-island class="login-island">
          <h3 class="tui-island__title">Вход в <span appearance="primary">healthy.</span></h3>
          <p class="tui-island__paragraph">
            Введите свои данные ниже, чтобы войти в аккаунт.
          </p>
          <div class="tui-island__paragraph tui-island__paragraph_link">

            <div class="tui-form__row">
              <p>
                <tui-input formControlName="email"> Введите ваш email  </tui-input>
              </p>

            </div>

            <div class="tui-form__row">
              <p>
                <tui-input-password formControlName="password">
                  Введите ваш пароль
                </tui-input-password>
              </p>
            </div>

            <div class="tui-form__row login-form__button-box">
              <p>
                <tui-checkbox-labeled formControlName="remember">
                  Запомнить устройство?
                </tui-checkbox-labeled>
              </p>
              <div class="tui-island_text-align_right">
                <a tuiButton type="button" class="tui-form__buttons_align_end" appearance="primary"
                   [routerLink]="['/']" size="m">
                  Войти
                </a>
              </div>
            </div>
          </div>



          <a tuiButton [routerLink]="['/register']" type="button" size="m" class="tui-island__footer-button"
             appearance="primary">
            Регистрация
          </a>
        </tui-island>
      </div>
    </form>
  </div>
</div>
