<div class="center-screen flex justify-around items-center h-screen">
  <div class="login-form">
    <form [formGroup]="form" (ngSubmit)="login()" autocomplete="on"
          style="justify-content: center; align-content: center; align-items: center; display: flex">
      <div class="tui-col_5">
        <tui-island class="login-island">
          <h1 class="" style="color: var(--tui-primary);">👉 Вход в <span appearance="primary">healthy.</span></h1>
          <p class="tui-island__paragraph">
            Введите свои данные ниже, чтобы войти в аккаунт.
          </p>
          <div class="tui-island__paragraph tui-island__paragraph_link">

            <div class="tui-form__row">
              <p>
                <tui-input formControlName="email"><input
                  autocomplete="email"
                  tuiTextfield
                  type="email"
                />Введите ваш email
                </tui-input>
              </p>

            </div>

            <div class="tui-form__row">
              <p>
                <tui-input-password formControlName="password">
                  <input
                    autocomplete="password"
                    tuiTextfield
                    type="password"
                  />
                  Введите ваш пароль
                </tui-input-password>
              </p>
            </div>

            <div class="tui-form__row login-form__button-box">
              <p>
                <tui-checkbox-labeled formControlName="remember">
                  Запомнить устройство?
                </tui-checkbox-labeled>
              </p>
              <div class="tui-island_text-align_right">
                <tui-loader *ngIf="loading" class="loader" [inheritColor]="true" [overlay]="true" [showLoader]="true">
                  <button tuiButton type="submit" class="tui-form__buttons_align_end" appearance="primary" size="m">
                    Войти
                    <tui-svg src="tuiIconArrowRight"></tui-svg>
                  </button>
                </tui-loader>
                <button *ngIf="!loading" tuiButton type="submit" class="tui-form__buttons_align_end"
                        appearance="primary" size="m">
                  Войти
                  <tui-svg src="tuiIconArrowRight"></tui-svg>
                </button>
              </div>
            </div>
          </div>
          <a tuiButton [routerLink]="['/signup']" type="button" size="m" class="tui-island__footer-button"
             appearance="primary">
            <tui-svg src="tuiIconUserPlus"></tui-svg>
            Регистрация
          </a>
        </tui-island>
      </div>
    </form>
  </div>
</div>
