<div tuiPlatform="ios" class="tui-space_right-2 tui-space_bottom-2">
  <div tuiCardLarge tuiSurface="elevated" class="vaccine-card">
    <div tuiHeader class="vaccine-header">
      <h3 tuiTitle class="vaccine-title">{{ vaccine.vaccine.name | truncate: 40 }}</h3>
      <span tuiSubtitle>{{ vaccine.vaccination_date | date }}</span>
      <aside class="badge" tuiAccessories>
        <tui-badge
          [status]="vaccine.vaccine.type === 'CALENDAR' ? 'success' : 'info'"
          [value]="vaccine.vaccine.type === 'CALENDAR' ? 'Календарь' : 'Эпидемиология'"
          class="tui-space_right-2 tui-space_bottom-2"
        ></tui-badge>
      </aside>
    </div>
    <footer class="vaccine-footer">
      <ng-container *ngIf="vaccine.is_vaccinated; else notVaccinated">
        <button
          appearance="secondary"
          size="s"
          tuiButton
          type="button"
          class="tui-space_bottom-2 cancel-button tui-space_right-3 tui-space_bottom-3"
          (click)="openEditDialog()"
        >
          Изменить прививку
        </button>
      </ng-container>
      <ng-template #notVaccinated>
        <button
          appearance="primary"
          size="s"
          tuiButton
          type="button"
          class="tui-space_bottom-2 cancel-button tui-space_right-3 tui-space_bottom-3"
          (click)="openMarkDialog()"
        >
          Отметить прививку
        </button>
      </ng-template>
      <button
        appearance="outline"
        size="s"
        tuiButton
        type="button"
        class="details-button tui-space_right-3 tui-space_bottom-3"
        (click)="openDetailsDialog()"
      >
        Подробности
      </button>
    </footer>
  </div>
</div>
