<div tuiPlatform="ios" class="tui-space_right-2 tui-space_bottom-2">
  <div tuiCardLarge tuiSurface="elevated" class="vaccine-card">
    <div tuiHeader class="vaccine-header">
      <h3 tuiTitle class="vaccine-title">{{ vaccine.vaccine.name }}</h3>
      <span tuiSubtitle>{{ vaccine.vaccination_date | date }}</span>
      <aside class="badge" tuiAccessories>
        <tui-badge
          [status]="vaccine.vaccine.type === 'CALENDAR' ? 'success' : 'info'"
          [value]="vaccine.vaccine.type === 'CALENDAR' ? 'Календарь' : 'Эпидемиология'"
          class="tui-space_right-2 tui-space_bottom-2"
        ></tui-badge>
      </aside>
    </div>
    <footer class="vaccine-footer">
      <button
        appearance="primary"
        size="s"
        tuiButton
        type="button"
        class="tui-space_bottom-2 cancel-button"
      >
        Отменить прививку
      </button>
      <button
        appearance="secondary"
        size="s"
        tuiButton
        type="button"
        class="details-button"
      >
        Подробности
      </button>
    </footer>
  </div>
</div>
