<ng-container>
  <div class="hero">
    <h1 class="title">Статистика</h1>
  </div>
  <div class="grid-container">
    <div class="stat-box" *ngFor="let stat of stats">
      <div class="stat-title">{{ stat.title }}</div>
      <div class="stat-value">{{ stat.value }}</div>
    </div>
  </div>

  <div class="charts">
    <div class="chart-container chart-1">
      <div class="chart-title">Количество прививок по месяцам</div>
      <p class="b-form">
        <tui-input-date-range
          [maxLength]="maxLength"
          [(ngModel)]="range1"
        >
          Период
        </tui-input-date-range>
      </p>
      <tui-axes
        *ngIf="computeLabels$(range1) | async as labels"
        class="axes"
        [axisXLabels]="labels"
        [horizontalLines]="4"
        [verticalLines]="labels.length"
      >
        <tui-line-days-chart
          class="chart"
          [height]="200"
          [value]="value1"
          [xStringify]="xStringify$ | async"
          [yStringify]="yStringify"
        ></tui-line-days-chart>
      </tui-axes>
    </div>

    <div class="chart-container chart-2">
      <div class="chart-title">Охват вакцинацией по возрастным группам</div>
      <p class="b-form">
        <tui-input-date-range
          [maxLength]="maxLength"
          [(ngModel)]="range2"
        >
          Период
        </tui-input-date-range>
      </p>
      <tui-axes
        *ngIf="computeLabels$(range2) | async as labels"
        class="axes"
        [axisXLabels]="labels"
        [horizontalLines]="4"
        [verticalLines]="labels.length"
      >
        <tui-line-days-chart
          class="chart"
          [height]="200"
          [value]="value2"
          [xStringify]="xStringify$ | async"
          [yStringify]="yStringify"
        ></tui-line-days-chart>
      </tui-axes>
    </div>

    <div class="chart-container chart-3">
      <div class="chart-title">Количество обращений за вакцинацией</div>
      <p class="b-form">
        <tui-input-date-range
          [maxLength]="maxLength"
          [(ngModel)]="range3"
        >
          Период
        </tui-input-date-range>
      </p>
      <tui-axes
        *ngIf="computeLabels$(range3) | async as labels"
        class="axes"
        [axisXLabels]="labels"
        [horizontalLines]="4"
        [verticalLines]="labels.length"
      >
        <tui-line-days-chart
          class="chart"
          [height]="200"
          [value]="value3"
          [xStringify]="xStringify$ | async"
          [yStringify]="yStringify"
        ></tui-line-days-chart>
      </tui-axes>
    </div>
  </div>
</ng-container>
