<ng-container>
  <div class="hero">
    <h1 class="title">Статистика</h1>
  </div>
  <div class="grid-container">
    <div class="stat-box" *ngFor="let stat of stats">
      <div class="stat-title">{{ stat.title }}</div>
      <div class="stat-value">{{ stat.value }}</div>
    </div>
  </div>
  <div class="charts">
    <div class="chart-container">
      <div class="chart-title">Chart 1</div>
      <tui-axes
        class="axes"
        [horizontalLines]="2"
        [tuiLineChartHint]="hintContent"
        [verticalLines]="4"
      >
        <tui-line-chart
          [dots]="true"
          [height]="400"
          [value]="value"
          [width]="400"
          [x]="0"
          [xStringify]="stringify"
          [y]="0"
          [yStringify]="stringify"
        ></tui-line-chart>
      </tui-axes>
    </div>
    <div class="chart-container">
      <div class="chart-title">Chart 2</div>
      <tui-axes
        class="axes"
        [horizontalLines]="2"
        [tuiLineChartHint]="hintContent"
        [verticalLines]="4"
      >
        <tui-line-chart
          [dots]="true"
          [height]="400"
          [value]="value"
          [width]="400"
          [x]="0"
          [xStringify]="stringify"
          [y]="0"
          [yStringify]="stringify"
        ></tui-line-chart>
      </tui-axes>
    </div>
    <div class="chart-container">
      <div class="chart-title">Chart 3</div>
      <tui-axes
        class="axes"
        [horizontalLines]="2"
        [tuiLineChartHint]="hintContent"
        [verticalLines]="4"
      >
        <tui-line-chart
          [dots]="true"
          [height]="400"
          [value]="value"
          [width]="400"
          [x]="0"
          [xStringify]="stringify"
          [y]="0"
          [yStringify]="stringify"
        ></tui-line-chart>
      </tui-axes>
    </div>
  </div>
</ng-container>
