<div tuiPlatform="ios" class="tui-space_right-2 tui-space_bottom-2 child-card">
  <div tuiCardLarge tuiSurface="elevated">
    <div tuiHeader class="child-header">
      <h3 tuiTitle class="child-title">
        {{ child.name }}
        <span tuiSubtitle>{{ child.birthDate }}</span>
      </h3>
    </div>
    <aside class="badge" tuiAccessories>
      <ng-container>
        <tui-badge
          status="error"
          value="Просрочено"
          class="tui-space_right-2 tui-space_bottom-2"
        ></tui-badge>
      </ng-container>
      <ng-container>
        <tui-badge
          status="warning"
          value="Приближается вакцинация"
          class="tui-space_right-2 tui-space_bottom-2"
        ></tui-badge>
      </ng-container>
    </aside>
    <footer class="child-footer">
      <button
        appearance="primary"
        size="s"
        tuiButton
        type="button"
        class="primary-button"
        (click)="navigateToCalendar()"
      >
        Календарь прививок
      </button>
      <button
        appearance="secondary"
        size="s"
        tuiButton
        type="button"
        class="secondary-button"
        (click)="openEditDialog()"
      >
        Просмотреть
      </button>
    </footer>
  </div>
</div>
