<div tuiPlatform="ios" class="tui-space_right-2 tui-space_bottom-2" style="min-width: 300px">
  <div tuiCardLarge tuiSurface="elevated">
    <div tuiHeader>
      <h3 tuiTitle>
        {{ child.name }}
        <span tuiSubtitle>{{ child.birthDate }}</span>
      </h3>
      <aside tuiAccessories>
        <tui-badge
          status="success"
          value=""
          class="tui-space_right-2 tui-space_bottom-2"
        ></tui-badge>
      </aside>
    </div>
    <footer style="display: grid; gap: 0.5rem;">
      <button
        appearance="primary"
        size="s"
        tuiButton
        type="button"
        (click)="navigateToCalendar()"
      >
        Перейти
      </button>
      <button
        appearance="secondary"
        size="s"
        tuiButton
        type="button"
        (click)="openEditDialog()"
      >
        Изменить
      </button>
    </footer>
  </div>
</div>
