
<div tuiPlatform="ios" class="tui-space_right-2 tui-space_bottom-2" style="min-width: 400px">

  <div
    tuiCardLarge
    tuiSurface="elevated"
  >
    <div tuiHeader>
      <h3 tuiTitle>
        Вася
        <span tuiSubtitle>5 октября 2010</span>
      </h3>

      <aside tuiAccessories>
        <tui-badge
          status="success"
          value=""
          class="tui-space_right-2 tui-space_bottom-2"
        ></tui-badge>
      </aside>
    </div>

    <footer style="display: grid;">
      <button
        appearance="primary"
        size="s"
        tuiButton
        type="button"
        class="tui-space_bottom-2"
      >
        Перейти
      </button>
      <button
        appearance="secondary"
        size="s"
        tuiButton
        type="button"
      >
        Изменить
      </button>
    </footer>
  </div>
</div>
