<div tuiPlatform="ios" class="tui-space_right-2 tui-space_bottom-2 child-card">
  <div tuiCardLarge tuiSurface="elevated">
    <div tuiHeader class="child-header">
      <h3 tuiTitle class="child-title">
        {{ child.name }}
        <span tuiSubtitle>{{ child.birthDate }}</span>
      </h3>
      <aside tuiAccessories>
        <tui-badge
          status="success"
          value=""
          class="tui-space_right-2 tui-space_bottom-2 badge"
        ></tui-badge>
      </aside>
    </div>
    <footer class="child-footer">
      <button
        appearance="primary"
        size="s"
        tuiButton
        type="button"
        class="primary-button"
        (click)="navigateToCalendar()"
      >
        Перейти
      </button>
      <button
        appearance="secondary"
        size="s"
        tuiButton
        type="button"
        class="secondary-button"
        (click)="openEditDialog()"
      >
        Изменить
      </button>
    </footer>
  </div>
</div>
