@import '@taiga-ui/core/styles/taiga-ui-theme.less';
@import '@taiga-ui/core/styles/taiga-ui-fonts.less';
@import '@taiga-ui/styles/taiga-ui-global.less';

@header-height: 60px;

tui-root {
  padding-top: @header-height;
  font-size: 16px;
}
