<!--&lt;!&ndash;<h1 style="text-align: center; color: var(&#45;&#45;tui-primary)">Личный кабинет</h1>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="dashboard">&ndash;&gt;-->
<!--&lt;!&ndash;  <tui-island size="l" textAlign="left" class="personal-data">&ndash;&gt;-->
<!--&lt;!&ndash;    <h2>Здравствуйте, {{ userData?.firstname }}!</h2>&ndash;&gt;-->
<!--&lt;!&ndash;    <form [formGroup]="personalDataForm">&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="form-grid">&ndash;&gt;-->
<!--&lt;!&ndash;        <tui-input formControlName="lastName" label="Фамилия">Фамилия</tui-input>&ndash;&gt;-->
<!--&lt;!&ndash;        <tui-input formControlName="firstName" label="Имя">Имя</tui-input>&ndash;&gt;-->
<!--&lt;!&ndash;        <tui-input formControlName="middleName" label="Отчество">Отчество</tui-input>&ndash;&gt;-->
<!--&lt;!&ndash;        <tui-input formControlName="email" label="Email">Email</tui-input>&ndash;&gt;-->
<!--&lt;!&ndash;        <tui-input formControlName="birthDate" label="Дата рождения">Дата рождения</tui-input>&ndash;&gt;-->
<!--&lt;!&ndash;        <tui-select&ndash;&gt;-->
<!--&lt;!&ndash;          formControlName="gender"&ndash;&gt;-->
<!--&lt;!&ndash;          [stringify]="genderStringify"&ndash;&gt;-->
<!--&lt;!&ndash;          label="Пол"&ndash;&gt;-->
<!--&lt;!&ndash;        >&ndash;&gt;-->
<!--&lt;!&ndash;          Выберите пол&ndash;&gt;-->
<!--&lt;!&ndash;          <tui-data-list-wrapper&ndash;&gt;-->
<!--&lt;!&ndash;            *tuiDataList&ndash;&gt;-->
<!--&lt;!&ndash;            [items]="genderOptions"&ndash;&gt;-->
<!--&lt;!&ndash;            [itemContent]="itemContent"&ndash;&gt;-->
<!--&lt;!&ndash;          >&ndash;&gt;-->
<!--&lt;!&ndash;          </tui-data-list-wrapper>&ndash;&gt;-->
<!--&lt;!&ndash;        </tui-select>&ndash;&gt;-->
<!--&lt;!&ndash;        <ng-template #itemContent let-item>&ndash;&gt;-->
<!--&lt;!&ndash;          {{ item.name }}&ndash;&gt;-->
<!--&lt;!&ndash;        </ng-template>&ndash;&gt;-->


<!--&lt;!&ndash;        <div class="notification-settings">&ndash;&gt;-->
<!--&lt;!&ndash;          <h3>Настройки уведомлений</h3>&ndash;&gt;-->
<!--&lt;!&ndash;          <tui-select&ndash;&gt;-->
<!--&lt;!&ndash;            formControlName="periodicity"&ndash;&gt;-->
<!--&lt;!&ndash;            [stringify]="periodStringify"&ndash;&gt;-->
<!--&lt;!&ndash;            label="Периодичность"&ndash;&gt;-->
<!--&lt;!&ndash;          >&ndash;&gt;-->
<!--&lt;!&ndash;            Выберите периодичность&ndash;&gt;-->
<!--&lt;!&ndash;            <tui-data-list-wrapper&ndash;&gt;-->
<!--&lt;!&ndash;              *tuiDataList&ndash;&gt;-->
<!--&lt;!&ndash;              [items]="periodOptions"&ndash;&gt;-->
<!--&lt;!&ndash;              [itemContent]="periodContent"&ndash;&gt;-->
<!--&lt;!&ndash;            >&ndash;&gt;-->
<!--&lt;!&ndash;            </tui-data-list-wrapper>&ndash;&gt;-->
<!--&lt;!&ndash;          </tui-select>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->

<!--&lt;!&ndash;        <ng-template #periodContent let-item>&ndash;&gt;-->
<!--&lt;!&ndash;          {{ item.label }}&ndash;&gt;-->
<!--&lt;!&ndash;        </ng-template>&ndash;&gt;-->

<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="form-actions">&ndash;&gt;-->
<!--&lt;!&ndash;        <button tuiButton type="submit" appearance="primary">Сохранить</button>&ndash;&gt;-->
<!--&lt;!&ndash;        <button tuiButton type="button" appearance="secondary">Отменить</button>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </form>&ndash;&gt;-->
<!--&lt;!&ndash;  </tui-island>&ndash;&gt;-->

<!--&lt;!&ndash;  <div class="additional-settings">&ndash;&gt;-->
<!--&lt;!&ndash;    <tui-island size="l" textAlign="center" class="security-settings small">&ndash;&gt;-->
<!--&lt;!&ndash;      <h3>Безопасность</h3>&ndash;&gt;-->
<!--&lt;!&ndash;      <form [formGroup]="securityForm">&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="form-column">&ndash;&gt;-->
<!--&lt;!&ndash;          <tui-input-password formControlName="oldPassword" label="Старый пароль">Старый пароль</tui-input-password>&ndash;&gt;-->
<!--&lt;!&ndash;          <tui-input-password formControlName="newPassword" label="Новый пароль">Новый пароль</tui-input-password>&ndash;&gt;-->
<!--&lt;!&ndash;          <tui-input-password formControlName="repeatPassword" label="Повторите новый пароль">Повторите новый пароль</tui-input-password>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="form-actions">&ndash;&gt;-->
<!--&lt;!&ndash;          <button tuiButton type="submit" appearance="primary">Сохранить</button>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;      </form>&ndash;&gt;-->
<!--&lt;!&ndash;    </tui-island>&ndash;&gt;-->

<!--&lt;!&ndash;    <div class="banner-wrapper">&ndash;&gt;-->
<!--&lt;!&ndash;      <tui-island size="m" textAlign="center" class="banner-settings small">&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="tui-island__content">&ndash;&gt;-->
<!--&lt;!&ndash;          <figure class="tui-island__figure">&ndash;&gt;-->
<!--&lt;!&ndash;            <img src="https://s3.timeweb.cloud/304acea6-healthy/banner_4.svg" alt="Баннер" class="banner-image">&ndash;&gt;-->
<!--&lt;!&ndash;          </figure>&ndash;&gt;-->
<!--&lt;!&ndash;          <div>&ndash;&gt;-->
<!--&lt;!&ndash;            <h3 class="tui-island__title">Интересная статья</h3>&ndash;&gt;-->
<!--&lt;!&ndash;            <p class="tui-island__paragraph">&ndash;&gt;-->
<!--&lt;!&ndash;              Тут будет баннер с переходом на статью.&ndash;&gt;-->
<!--&lt;!&ndash;            </p>&ndash;&gt;-->
<!--&lt;!&ndash;            <button appearance="flat" size="m" tuiButton type="button" class="tui-island__footer-button">&ndash;&gt;-->
<!--&lt;!&ndash;              Перейти к статье&ndash;&gt;-->
<!--&lt;!&ndash;            </button>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;      </tui-island>&ndash;&gt;-->

<!--&lt;!&ndash;      <tui-island size="m" textAlign="center" class="banner-settings small">&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="tui-island__content">&ndash;&gt;-->
<!--&lt;!&ndash;          <figure class="tui-island__figure">&ndash;&gt;-->
<!--&lt;!&ndash;            <img src="https://s3.timeweb.cloud/304acea6-healthy/banner_4.svg" alt="Баннер" class="banner-image">&ndash;&gt;-->
<!--&lt;!&ndash;          </figure>&ndash;&gt;-->
<!--&lt;!&ndash;          <div>&ndash;&gt;-->
<!--&lt;!&ndash;            <h3 class="tui-island__title">Полезный совет</h3>&ndash;&gt;-->
<!--&lt;!&ndash;            <p class="tui-island__paragraph">&ndash;&gt;-->
<!--&lt;!&ndash;              Тут будет еще один баннер с переходом на статью.&ndash;&gt;-->
<!--&lt;!&ndash;            </p>&ndash;&gt;-->
<!--&lt;!&ndash;            <button appearance="flat" size="m" tuiButton type="button" class="tui-island__footer-button">&ndash;&gt;-->
<!--&lt;!&ndash;              Узнать больше&ndash;&gt;-->
<!--&lt;!&ndash;            </button>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;      </tui-island>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--<h1 style="text-align: center; color: var(&#45;&#45;tui-primary)">Личный кабинет</h1>-->
<!--<div class="dashboard">-->
<!--  <div class="settings-columns">-->
<!--    <tui-island size="l" textAlign="left" class="personal-data">-->
<!--      <h2>Здравствуйте, {{ userData?.firstname }}!</h2>-->
<!--      <form [formGroup]="personalDataForm">-->
<!--        <div class="form-grid">-->
<!--          <tui-input formControlName="lastName" label="Фамилия">Фамилия</tui-input>-->
<!--          <tui-input formControlName="firstName" label="Имя">Имя</tui-input>-->
<!--          <tui-input formControlName="middleName" label="Отчество">Отчество</tui-input>-->
<!--          <tui-input formControlName="email" label="Email">Email</tui-input>-->
<!--          <tui-input formControlName="birthDate" label="Дата рождения">Дата рождения</tui-input>-->
<!--          <tui-select formControlName="gender" [stringify]="genderStringify" label="Пол">-->
<!--            Выберите пол-->
<!--            <tui-data-list-wrapper *tuiDataList [items]="genderOptions" [itemContent]="itemContent"></tui-data-list-wrapper>-->
<!--          </tui-select>-->
<!--          <ng-template #itemContent let-item>-->
<!--            {{ item.name }}-->
<!--          </ng-template>-->
<!--          <div class="notification-settings">-->
<!--            <h3>Настройки уведомлений</h3>-->
<!--            <tui-select formControlName="periodicity" [stringify]="periodStringify" label="Периодичность">-->
<!--              Выберите периодичность-->
<!--              <tui-data-list-wrapper *tuiDataList [items]="periodOptions" [itemContent]="periodContent"></tui-data-list-wrapper>-->
<!--            </tui-select>-->
<!--          </div>-->
<!--          <ng-template #periodContent let-item>-->
<!--            {{ item.label }}-->
<!--          </ng-template>-->
<!--        </div>-->
<!--        <div class="form-actions">-->
<!--          <button tuiButton type="submit" appearance="primary">Сохранить</button>-->
<!--          <button tuiButton type="button" appearance="secondary">Отменить</button>-->
<!--        </div>-->
<!--      </form>-->
<!--    </tui-island>-->

<!--    <tui-island size="l" textAlign="center" class="security-settings">-->
<!--      <h3>Безопасность</h3>-->
<!--      <form [formGroup]="securityForm">-->
<!--        <div class="form-column">-->
<!--          <tui-input-password formControlName="oldPassword" label="Старый пароль">Старый пароль</tui-input-password>-->
<!--          <tui-input-password formControlName="newPassword" label="Новый пароль">Новый пароль</tui-input-password>-->
<!--          <tui-input-password formControlName="repeatPassword" label="Повторите новый пароль">Повторите новый пароль</tui-input-password>-->
<!--        </div>-->
<!--        <div class="form-actions">-->
<!--          <button tuiButton type="submit" appearance="primary">Сохранить</button>-->
<!--        </div>-->
<!--      </form>-->
<!--    </tui-island>-->
<!--  </div>-->

<!--  <div class="additional-settings">-->
<!--    <div class="banner-wrapper">-->
<!--      <tui-island size="m" textAlign="center" class="banner-settings small">-->
<!--        <div class="tui-island__content">-->
<!--          <figure class="tui-island__figure">-->
<!--            <img src="https://s3.timeweb.cloud/304acea6-healthy/banner_4.svg" alt="Баннер" class="banner-image">-->
<!--          </figure>-->
<!--          <div>-->
<!--            <h3 class="tui-island__title">Интересная статья</h3>-->
<!--            <p class="tui-island__paragraph">-->
<!--              Тут будет баннер с переходом на статью.-->
<!--            </p>-->
<!--            <button appearance="flat" size="m" tuiButton type="button" class="tui-island__footer-button">-->
<!--              Перейти к статье-->
<!--            </button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </tui-island>-->

<!--      <tui-island size="m" textAlign="center" class="banner-settings small">-->
<!--        <div class="tui-island__content">-->
<!--          <figure class="tui-island__figure">-->
<!--            <img src="https://s3.timeweb.cloud/304acea6-healthy/banner_4.svg" alt="Баннер" class="banner-image">-->
<!--          </figure>-->
<!--          <div>-->
<!--            <h3 class="tui-island__title">Полезный совет</h3>-->
<!--            <p class="tui-island__paragraph">-->
<!--              Тут будет еще один баннер с переходом на статью.-->
<!--            </p>-->
<!--            <button appearance="flat" size="m" tuiButton type="button" class="tui-island__footer-button">-->
<!--              Узнать больше-->
<!--            </button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </tui-island>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<h1 style="text-align: center; color: var(--tui-primary)">Личный кабинет</h1>
<div class="dashboard">
  <div class="settings-columns">
    <tui-island size="l" textAlign="left" class="personal-data">
      <h2>Здравствуйте, {{ userData?.firstname }}!</h2>
      <form [formGroup]="personalDataForm">
        <div class="form-grid">
          <tui-input formControlName="lastName" label="Фамилия">Фамилия</tui-input>
          <tui-input formControlName="firstName" label="Имя">Имя</tui-input>
          <tui-input formControlName="middleName" label="Отчество">Отчество</tui-input>
          <tui-input formControlName="email" label="Email">Email</tui-input>
          <tui-input formControlName="birthDate" label="Дата рождения">Дата рождения</tui-input>
          <tui-select formControlName="gender" [stringify]="genderStringify" label="Пол">
            Выберите пол
            <tui-data-list-wrapper *tuiDataList [items]="genderOptions" [itemContent]="itemContent"></tui-data-list-wrapper>
          </tui-select>
          <ng-template #itemContent let-item>
            {{ item.name }}
          </ng-template>
          <div class="notification-settings">
            <h3>Настройки уведомлений</h3>
            <tui-select formControlName="periodicity" [stringify]="periodStringify" label="Периодичность">
              Выберите периодичность
              <tui-data-list-wrapper *tuiDataList [items]="periodOptions" [itemContent]="periodContent"></tui-data-list-wrapper>
            </tui-select>
          </div>
          <ng-template #periodContent let-item>
            {{ item.label }}
          </ng-template>
        </div>
        <div class="form-actions">
          <button tuiButton type="submit" appearance="primary">Сохранить</button>
          <button tuiButton type="button" appearance="secondary">Отменить</button>
        </div>
      </form>
    </tui-island>

    <div class="security-and-articles">
      <tui-island size="l" textAlign="center" class="security-settings">
        <h3>Безопасность</h3>
        <form [formGroup]="securityForm">
          <div class="form-column">
            <tui-input-password formControlName="oldPassword" label="Старый пароль">Старый пароль</tui-input-password>
            <tui-input-password formControlName="newPassword" label="Новый пароль">Новый пароль</tui-input-password>
            <tui-input-password formControlName="repeatPassword" label="Повторите новый пароль">Повторите новый пароль</tui-input-password>
          </div>
          <div class="form-actions">
            <button tuiButton type="submit" appearance="primary">Сохранить</button>
          </div>
        </form>
      </tui-island>

      <div class="banner-wrapper">
        <tui-island size="m" textAlign="center" class="banner-settings small">
          <div class="tui-island__content">
            <figure class="tui-island__figure">
              <img src="https://s3.timeweb.cloud/304acea6-healthy/banner_4.svg" alt="Баннер" class="banner-image">
            </figure>
            <div>
              <h3 class="tui-island__title">Интересная статья</h3>
              <p class="tui-island__paragraph">
                Тут будет баннер с переходом на статью.
              </p>
              <button appearance="flat" size="m" tuiButton type="button" class="tui-island__footer-button">
                Перейти к статье
              </button>
            </div>
          </div>
        </tui-island>

        <tui-island size="m" textAlign="center" class="banner-settings small">
          <div class="tui-island__content">
            <figure class="tui-island__figure">
              <img src="https://s3.timeweb.cloud/304acea6-healthy/banner_4.svg" alt="Баннер" class="banner-image">
            </figure>
            <div>
              <h3 class="tui-island__title">Полезный совет</h3>
              <p class="tui-island__paragraph">
                Тут будет еще один баннер с переходом на статью.
              </p>
              <button appearance="flat" size="m" tuiButton type="button" class="tui-island__footer-button">
                Узнать больше
              </button>
            </div>
          </div>
        </tui-island>
      </div>
    </div>
  </div>
</div>
