<h1 style="text-align: center; color: var(--tui-primary)">Личный кабинет</h1>
<div class="dashboard">
  <div class="personal-data tui-island">
    <h3>Здравствуйте, Василиса!</h3>
    <form [formGroup]="personalDataForm">
      <div class="form-grid">
        <tui-input formControlName="lastName" label="Фамилия">Фамилия</tui-input>
        <tui-input formControlName="firstName" label="Имя">Имя</tui-input>
        <tui-input formControlName="middleName" label="Отчество">Отчество</tui-input>
        <tui-input formControlName="email" label="Email">Email</tui-input>
        <tui-input formControlName="birthDate" label="Дата рождения">Дата рождения</tui-input>
        <tui-select formControlName="gender" label="Пол">
          Пол
          <tui-data-list>
            <button tuiOption value="male">Мужской</button>
            <button tuiOption value="female">Женский</button>
          </tui-data-list>
        </tui-select>
        <div class="notification-settings">
          <h3>Настройки уведомлений</h3>
          <tui-toggle formControlName="notifications" size="l" label="Уведомления">Включить уведомления</tui-toggle><span>Включить уведомления</span>
          <tui-select formControlName="periodicity" label="Периодичность">
            Периодичность
            <tui-data-list>
              <button tuiOption value="1_day_before">За 1 день до вакцинации</button>
              <button tuiOption value="2_days_before">За 2 дня до вакцинации</button>
              <button tuiOption value="3_days_before">За 3 дня до вакцинации</button>
            </tui-data-list>
          </tui-select>
        </div>
      </div>
      <div class="form-actions">
        <button tuiButton type="submit" appearance="primary">Сохранить</button>
        <button tuiButton type="button" appearance="secondary">Отменить</button>
      </div>
    </form>
  </div>

  <div class="additional-settings">
    <div class="security-settings tui-island small">
      <h3>Безопасность</h3>
      <form [formGroup]="securityForm">
        <div class="form-column">
          <tui-input-password formControlName="oldPassword" label="Старый пароль">Старый пароль</tui-input-password>
          <tui-input-password formControlName="newPassword" label="Новый пароль">Новый пароль</tui-input-password>
          <tui-input-password formControlName="repeatPassword" label="Повторите новый пароль">Повторите новый пароль</tui-input-password>
        </div>
        <div class="form-actions">
          <button tuiButton type="submit" appearance="primary">Сохранить</button>
        </div>
      </form>
    </div>

    <div class="banner-settings tui-island small">
      <button tuiButton appearance="outline" class="banner-button full-width">
        <h3>Баннер</h3>
        <div class="banner">
          <p>Тут будет баннер с переходом на статью</p>
        </div>
      </button>
    </div>
  </div>
</div>
