<h1 style="text-align: center; color: var(--tui-primary)">Личный кабинет</h1>
<div class="dashboard">
  <tui-island size="l" textAlign="left" class="personal-data">
    <h2>Здравствуйте, Василиса!</h2>
    <form [formGroup]="personalDataForm">
      <div class="form-grid">
        <tui-input formControlName="lastName" label="Фамилия">Фамилия</tui-input>
        <tui-input formControlName="firstName" label="Имя">Имя</tui-input>
        <tui-input formControlName="middleName" label="Отчество">Отчество</tui-input>
        <tui-input formControlName="email" label="Email">Email</tui-input>
        <tui-input formControlName="birthDate" label="Дата рождения">Дата рождения</tui-input>
        <tui-select formControlName="gender" label="Пол">
          Пол
          <tui-data-list>
            <button tuiOption value="male">Мужской</button>
            <button tuiOption value="female">Женский</button>
          </tui-data-list>
        </tui-select>
        <div class="notification-settings">
          <h3>Настройки уведомлений</h3>
          <tui-toggle formControlName="notifications" size="l" label="Уведомления">Включить уведомления</tui-toggle><span>Включить уведомления</span>
          <tui-select formControlName="periodicity" label="Периодичность">
            Периодичность
            <tui-data-list>
              <button tuiOption value="1_day_before">За 1 день до вакцинации</button>
              <button tuiOption value="2_days_before">За 2 дня до вакцинации</button>
              <button tuiOption value="3_days_before">За 3 дня до вакцинации</button>
            </tui-data-list>
          </tui-select>
        </div>
      </div>
      <div class="form-actions">
        <button tuiButton type="submit" appearance="primary">Сохранить</button>
        <button tuiButton type="button" appearance="secondary">Отменить</button>
      </div>
    </form>
  </tui-island>

  <div class="additional-settings">
    <tui-island size="l" textAlign="center" class="security-settings small">
      <h3>Безопасность</h3>
      <form [formGroup]="securityForm">
        <div class="form-column">
          <tui-input-password formControlName="oldPassword" label="Старый пароль">Старый пароль</tui-input-password>
          <tui-input-password formControlName="newPassword" label="Новый пароль">Новый пароль</tui-input-password>
          <tui-input-password formControlName="repeatPassword" label="Повторите новый пароль">Повторите новый пароль</tui-input-password>
        </div>
        <div class="form-actions">
          <button tuiButton type="submit" appearance="primary">Сохранить</button>
        </div>
      </form>
    </tui-island>

    <div class="banner-wrapper">
      <tui-island size="m" textAlign="center" class="banner-settings small">
        <div class="tui-island__content">
          <figure class="tui-island__figure">
            <img src="https://s3.timeweb.cloud/304acea6-healthy/banner_4.svg" alt="Баннер" class="banner-image">
          </figure>
          <div>
            <h3 class="tui-island__title">Интересная статья</h3>
            <p class="tui-island__paragraph">
              Тут будет баннер с переходом на статью.
            </p>
            <button appearance="flat" size="m" tuiButton type="button" class="tui-island__footer-button">
              Перейти к статье
            </button>
          </div>
        </div>
      </tui-island>

      <tui-island size="m" textAlign="center" class="banner-settings small">
        <div class="tui-island__content">
          <figure class="tui-island__figure">
            <img src="https://s3.timeweb.cloud/304acea6-healthy/banner_4.svg" alt="Баннер" class="banner-image">
          </figure>
          <div>
            <h3 class="tui-island__title">Полезный совет</h3>
            <p class="tui-island__paragraph">
              Тут будет еще один баннер с переходом на статью.
            </p>
            <button appearance="flat" size="m" tuiButton type="button" class="tui-island__footer-button">
              Узнать больше
            </button>
          </div>
        </div>
      </tui-island>
    </div>
  </div>
</div>
