@tui-breakpoint-mobile: 320px;
@tui-breakpoint-tablet: 768px;
@tui-breakpoint-desktop: 1024px;
@tui-breakpoint-large-desktop: 1200px;

.dashboard {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  padding: 16px;
}

.additional-settings {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.security-settings, .banner-settings {
  padding: 16px;
  //border: 1px solid #e0e0e0;
  border-radius: 20px;
}

.banner-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.banner-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.notification-settings{
  text-align: left !important;
}
.notification-settings h3 {
  margin-bottom: 16px;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}

.form-column {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

.form-actions {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
  margin-top: 16px;
}

@media (max-width: @tui-breakpoint-desktop) {
  .form-grid {
    grid-template-columns: 1fr 1fr;
  }

  .additional-settings, .banner-wrapper {
    grid-template-columns: 1fr;
  }
}

@media (max-width: @tui-breakpoint-tablet) {
  .form-grid {
    grid-template-columns: 1fr;
  }
}
