.tui-skeleton {
  background-color: #ecebeb;
  animation: pulse 1.5s ease-in-out infinite;
  height: 20px;
}

.tui-skeleton_rounded {
  border-radius: 10px;
  height: 150px;
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
